<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel Buddy</title>
</head>
<body>
    <h1>Hello, {{ request.session.user.name }}</h1>
    <a href="{% url 'travel_buddy:logout' %}">Logout</a>
    <h3>Your Trip Schedules: </h3>
    <table>
        <tr>
            <th>Destination</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Plan</th>
        </tr>
        {% for trip in user_trips %}
        <tr>
            <td><a href="{% url 'travel_buddy:show_trip' trip.id %}">{{ trip.destination }}</a></td>
            <td>{{ trip.start_date }}</td>
            <td>{{ trip.end_date }}</td>
            <td>{{ trip.description }}</td>
        </tr>
        {% endfor %}
        {% for trip in joined_trips %}
        <tr>
            <td><a href="{% url 'travel_buddy:show_trip' trip.id %}">{{ trip.destination }}</a></td>
            <td>{{ trip.start_date }}</td>
            <td>{{ trip.end_date }}</td>
            <td>{{ trip.description }}</td>
        </tr>
        {% endfor %}
    </table>
    <h3>Other User's Travel Plans: </h3>
    <table>
        <tr>
            <th>Planner</th>
            <th>Destination</th>
            <th>Description</th>
            <th>Travel Date From:</th>
            <th>Travel Date to:</th>
        </tr>
        {% for trip in all_trips %}
        <tr>
            <td>{{ trip.planner.name }}</td>
            <td><a href="{% url 'travel_buddy:show_trip' trip.id %}">{{ trip.destination }}</a></td>
            <td>{{ trip.start_date }}</td>
            <td>{{ trip.end_date }}</td>
            {% if request.session.user.user_id != trip.planner.id %}
            <td><a href="{% url 'travel_buddy:join_trip' trip.id %}">Join</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <p><a href="{% url 'travel_buddy:planner' %}">Plan A Trip</a></p>
</body>
</html>
